@{
    ViewData["Title"] = "My MVC Page";
}
<h1>@ViewData["Title"]</h1>

<div>
    <h1 style= "color:navy;background-color:slateblue"> My First MVC Page </h1>
    <hr/>
    <p> Here is a link to my GitHub</p>
    <p><a class="btn btn-danger" href ="https://github.com/Pasindu19970808"> Github </a></p>


</div>